<div class="card bg-info mt-2">
    <div class="card-header text-white">
        {{title}}
    </div>
    <div class="card-body bg-light">
        <h5 class="card-title">{{content}}</h5>
        <div class="text-right">
            <small class="card-text">Posted by {{user.username}} on {{format_date date_created}}</small>
        </div>
        <a href="#" class="btn btn-info">Update Post</a>
    </div>
</div>