header a {
    color: var(--cyan);
}

header a:hover {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.6rem;
    line-height: 1;
}

form label{
  color: var(--gray);
}

input::placeholder {
  color: var(--gray-dark);
}

.login h2{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.4;
    border-bottom: 1px solid #666;
}

.login .btn-link, nav button, nav a{
  outline: none;
  border: none;
  background: transparent;
  text-decoration: underline;
  color: var(--cyan);
}

.card-header a{
  cursor: pointer;
}

a.underline, a.underline:hover{
  text-decoration: underline;
}
